<%= link_to "Create a photo shoot", new_photo_shoot_path %>

<ul>
  <% @photo_shoots.each do |photo_shoot| %>
    <li><%= link_to photo_shoot.series + " @ " + photo_shoot.convention_year.convention.name + " " + photo_shoot.convention_year.start.year.to_s + " @ " + photo_shoot.location, photo_shoot_path(photo_shoot) %></li>
  <% end %>
</ul>
