.new-item {
  display: block;
  top: 33%;
}

.convention-list-item {
  list-style-type: none;
  padding-bottom: 20px;
}

.convention-logo {
  margin-right: 25px;
  float: left;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.convention-info {
  height: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.options {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
}
