#main-header div {
  height: 63px;
  margin-bottom: 40px;
}

.new-item {
  top: 33%;
  margin-right: 15px;
}

.convention-list-item {
  list-style-type: none;
}

.convention-logo {
  margin-right: 25px;
  float: left;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.convention-info {
  height: 100px;
  margin-bottom: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.25em;
}

.options {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.con-years {
  height: 100px;
  margin-bottom: 25px;
}
