<ul>
  <% @conventions.each do |convention| %>
    <li class="convention-list-item" id="<%= convention.id_safe_name %>">
      <div class="row">
        <div class="small-8 medium-5 columns">
          <img src="http://placehold.it/100x100" class="convention-logo" alt="<%= convention.name %>'s Logo">
          <%= link_to convention.name, convention_path(convention) %>
          <ul class="inline-list">
            <li><%= link_to "Edit", edit_convention_path(convention), remote: true %></li>
          </ul>
        </div>
        <div class="small-4 medium-7 columns">
          Con Years
        </div>
      </div>
    </li>
  <% end %>
</ul>
