<div class="row">
  <div class="small-12 columns">
    <% @convention.convention_years.each do |year| %>
      <div class="row">
        <%= render "year_item", year: year %>
      </div>
    <% end %>
  </div>
</div>
