<div class="row" data-equalizer>
  <div class="small-8 columns" data-equalizer-watch>
    <h1>Conventions</h1>
  </div>
  <div class="small-4 columns" data-equalizer-watch>
    <%= link_to "Add a new convention", new_convention_path, class: "button tiny round right new-item", remote: true %>
  </div>
</div>

<div id="conventionList">
  <%= render "list" %>
</div>

<div id="newConModal" class="reveal-modal" data-reveal aria-labelledby="New Convention" aria-hidden="true" role="dialog">
</div>
