<div class="row" data-equalizer>
  <div class="small-8 columns" data-equalizer-watch>
    <h1>Conventions</h1>
  </div>
  <div class="small-4 columns" data-equalizer-watch>
    <%= link_to "Add a new convention", new_convention_path, class: "button tiny round right new-item" %>
  </div>
</div>

<ul>
  <% @conventions.each do |convention| %>
    <li><%= link_to(convention.name, convention_path(convention)) %></li>
  <% end %>
</ul>

<div id="newConModal" class="reveal-modal" data-reveal aria-labelledby="New Convention" aria-hidden="true" role="dialog">
  <%= render "form" %>  
</div>
