<%= link_to "Add a new convention", new_convention_path %>

Conventions
<ul>
  <% @conventions.each do |convention| %>
    <li><%= link_to(convention.name, convention_path(convention)) %></li>
  <% end %>
</ul>
