<div id="main-header" class="row" data-equalizer>
  <div class="small-8 columns" data-equalizer-watch>
    <h1>Conventions</h1>
  </div>
  <div class="small-4 columns" data-equalizer-watch>
    <%= link_to "Add a new convention", new_convention_path, class: "button tiny round right new-item", remote: true %>
  </div>
</div>

<div class="row">
  <div id="conventionList" class="small-12 medium-9 columns">
    <%= render "list" %>
  </div>
  <div class="show-for-medium-up medium-3 columns">
    Test Text
  </div>
</div>

<div id="modifyConModal" class="reveal-modal" data-reveal aria-labelledby="New Convention" aria-hidden="true" role="dialog">
</div>
