<div id="header" class="row">
  <div class="small-12 columns">
    <h1><%= @convention.name %></h1>
    <%= link_to "Edit", edit_convention_path(@convention), remote: true %>
  </div>
</div>

<div id="description" class="row">
  <div class="small-12 columns">
    <p><%= @convention.description %></p>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-9 columns">
    <%= render "year_list" %>
  </div>
</div>
